/* .topper{
    margin-bottom: 4rem;
} */

.sub-nav{
    display:flex;
    justify-content: center;
    left: 12.5rem;
    top: -1rem;
  
}

:global(.button).button{
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.9rem;
}