.logo{
    width: 180px;
    height: 80px;
    margin: 50px 0;
}

.search-area{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    display: flex;
    justify-content: center;
    
}

.cover{
    background: url('../assets/uliana.jpg');
    background-size: cover;
    background-position: center;
    min-height: 600px;
}