.nav-bar{
    display: flex;
    /* background-color: #d32323; */
    background-color: whitesmoke;
    padding: 3rem 0;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid grey;
}

.logo{
    width: 75px;
    margin-right: 1rem;
}

:global(.button).nav-button{
    margin-left: 1rem;
}