.nav-bar{
    display: flex;
    /* background-color: #d32323; */
    background-color: white;
    /* padding: 3rem 0; */
    align-items: center;
    
    
    justify-content: center;


    border-bottom: 1px solid grey;
}

.logo{
    width: 75px;
    margin-right: 3rem;
}

:global(.button).nav-button{
    margin-left: 1rem;
}
:global(.button).nav-b4btn{
    margin-left: 1rem;
    border: none;
    
}

:global(.button).asc:hover {background-color: rgba(232, 189, 18, 0.796);}


.contain{
    display: flex;
    justify-content:center;
    margin-top: 2rem;
    margin-bottom: 1.8rem;
}




.nav-barry{
    
    background-color: white;
    border-bottom: 1px solid grey;
}